includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    level: 5

    tmpDir: storage/phpstan

    parallel:
        maximumNumberOfProcesses: 4

    excludePaths:
        - bootstrap/cache
        - storage/*
        - vendor/*
